<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#aecbff" />

    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-256x256.png" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>Know Your Resto</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip To Content</a>
    <header class="header">
      <div class="header__inner">
        <div class="header__left-side">
          <h1 class="header__title" tabindex="0">Know Your Resto</h1>
        </div>

        <div class="header__right-side">
          <a id="menu" class="header__menu" href="#">☰</a>
          <nav id="drawer" class="nav">
            <ul class="nav__list">
              <li class="nav__item"><a href="#/home">Home</a></li>
              <li class="nav__item"><a href="#/favorites">Favorites</a></li>
              <li class="nav__item">
                <a href="https://www.linkedin.com/in/denta-azman-23a6bb2b4/"
                  >About Us</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer>
      <div class="footer__main">Copyright &copy; 2024 - Know Your Resto</div>
    </footer>
  </body>
</html>
